<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head%>
    </head>
    <body>
        <% include ../partials/nav%>
        <header>
            <h1>Show Page for <%=kidz.name%></h1>
        </header>
        <main>
            <section>
                <ul>
                    <h2><li>Name: <%=kidz.name%></li></h2>
                    <h2><li>Age: <%=kidz.age%></li></h2>
                </ul>
            </section>
            <section>
                <h2>Assigned Chores</h2>
                <ul>
                    <% for(var i = 0; i < kidz.chores.length; i++){ %>
                        <h2>
                            <li>
                                <a href='/chores/<%=kidz.chores[i]._id%>'><%=kidz.chores[i].title%>
                                </a>
                            </li>
                        </h2>
                    <%}%>
                </ul>

            </section>
            <form action="/kidz/<%=kidz._id%>/edit" method="post">
            </form>
            <form action="/kidz/<%=kidz._id%>?_method=DELETE" method="post">
                <input class="btn" type="submit" value="Delete Kid">
            </form>
        </main>
    </body>
</html>
